.drawer-container {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: background-color 1s;
  visibility: hidden;
}

.opened{
  background-color: rgba(10,10,10,0.5);
  transition: background-color 1s;
  visibility: visible;
}

.drawer {
  padding: 5%;
}
